<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>자유 게시판 관리</h1>
<h3 th:if="${errorMessage}" th:text="${errorMessage}"></h3>
<header th:replace="~{components/header :: header(${admin.adminName})}"></header>
<hr/>
<nav th:replace="~{components/nav :: nav}"></nav>
<hr/>
<form action="/board/free" method="get">
    <label>등록일시</label>
    <input type="date" name="startDate" id="startDate" th:value="${searchCondition.startDate}">
    <input type="date" name="endDate" id="endDate" th:value="${searchCondition.endDate}">
    <select name="categoryId" id="categoryId">
        <option value="-1" th:selected="${searchCondition.category == -1}">전체 분류</option>
        <option th:each="category : ${categoryList}"
                th:value="${category.categoryId}"
                th:text="${category.categoryName}"
                th:selected="${searchCondition.category == category.categoryId}">
        </option>
    </select>
    <input type="text" name="searchText" id="searchText" placeholder="제목 or 내용 or 등록자"
           th:value="${searchCondition.searchText}">
    <input type="submit" value="검색">
    <br/>
    <select name="pageSize" id="pageSize">
        <option value="10" th:selected="${searchCondition.pageSize == 10}">10</option>
        <option value="20" th:selected="${searchCondition.pageSize == 20}">20</option>
        <option value="30" th:selected="${searchCondition.pageSize == 30}">30</option>
        <option value="40" th:selected="${searchCondition.pageSize == 40}">40</option>
        <option value="50" th:selected="${searchCondition.pageSize == 50}">50</option>
    </select>
    <span>개씩 보기</span>

    <span>정렬</span>
    <select name="orderValue" id="orderValue">
        <option value="createdAt" th:selected="${searchCondition.orderValue == 'createdAt'}">등록 일시</option>
        <option value="category" th:selected="${searchCondition.orderValue == 'category'}">분류</option>
        <option value="title" th:selected="${searchCondition.orderValue == 'title'}">제목</option>
        <option value="views" th:selected="${searchCondition.orderValue == 'views'}">조회수</option>
    </select>
    <select name="orderDirection" id="orderDirection">
        <option value="desc" th:selected="${searchCondition.orderDirection == 'desc'}">내림차순</option>
        <option value="asc" th:selected="${searchCondition.orderDirection == 'asc'}">오름차순</option>
    </select>
</form>
<hr/>
<button th:onclick="goToWrite([[${searchCondition}]])">글 등록</button>
<table>
    <thead>
    <th>번호</th>
    <th>분류</th>
    <th>제목</th>
    <th>조회</th>
    <th>등록일시</th>
    <th>등록자</th>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.boardId}"></td>
        <td th:text="${board.categoryName}"></td>
        <td th:if="${board.fileId == null}" th:text="${board.title} + '(' + ${board.commentCount} + ')'" th:onclick="goToBoard([[${board.boardId}]],[[${searchCondition}]])"></td>
        <td th:if="${board.fileId != null}" th:text="${board.title} + '(' + ${board.commentCount} + ')' + '$'" th:onclick="goToBoard([[${board.boardId}]],[[${searchCondition}]])"></td>
        <td th:text="${board.views}"></td>
        <td th:text="${#dates.format(board.createdAt,'yyyy.MM.dd hh:mm')}"></td>
        <td th:if="${board.authorType} == 'member'" th:text="${board.memberName}"></td>
        <td th:if="${board.authorType} == 'admin'" th:text="${board.adminName}"></td>
    </tr>
    </tbody>
</table>
<nav th:if="${totalPageNum > 1}">
    <li th:each="pageNum : ${#numbers.sequence(1,totalPageNum)}" style="display: inline-block">
        <a th:text="${pageNum} " th:onclick="goToPageNum([[${pageNum}]],[[${searchCondition}]])"></a>
    </li>
</nav>
</body>
<script th:inline="javascript">
    const writeSuccess = [[${write}]];
    const deleteSuccess = [[${delete}]];

    if (writeSuccess === 1) {
        alert("등록 되었습니다.");
    }

    if (deleteSuccess === 1) {
        alert("삭제 되었습니다.");
    }

    const getNewBoardList = () => {
        const startDate = $("#startDate").val();
        const endDate = $("#endDate").val();
        const categoryId = $("#categoryId").val();
        const searchText = $("#searchText").val();
        const pageSize = $("#pageSize").val();
        const orderValue = $("#orderValue").val();
        const orderDirection = $("#orderDirection").val();
        const url = `/board/free?startDate=${startDate}&endDate=${endDate}&category=${categoryId}`
            + `&searchText=${searchText}&pageSize=${pageSize}&orderValue=${orderValue}&orderDirection=${orderDirection}`;
        window.location.href = url;
    }

    $("#pageSize, #orderValue, #orderDirection").change(getNewBoardList);

    const parseObjectToParam = (searchCondition) => {
        return `?startDate=${searchCondition.startDate}&endDate=${searchCondition.endDate}&category=${searchCondition.category}` +
            `&searchText=${searchCondition.searchText}&pageSize=${searchCondition.pageSize}&orderValue=${searchCondition.orderValue}` +
            `&orderDirection=${searchCondition.orderDirection}&pageNum=${searchCondition.pageNum}`;
    }

    const goToPageNum = (pageNum, searchCondition) => {
        searchCondition.pageNum = pageNum;
        location.href = `/board/free` + parseObjectToParam(searchCondition);
    }

    const goToWrite = (searchCondition) => {
        location.href = `/board/free/write` + parseObjectToParam(searchCondition);
    }

    const goToBoard = (boardId, searchCondition) => {
        location.href = `/board/free/${boardId}` + parseObjectToParam(searchCondition);
    }
</script>
</html>