<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 게시판</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav th:replace="~{components/nav :: nav(${admin.adminName})}"></nav>
<div class="container mt-3">
    <h1 class="mb-3">공지사항 관리</h1>
<h3 th:if="${errorMessage}" th:text="${errorMessage}"></h3>
<form th:action="@{/board/notice/modify/{boardId}(boardId = ${boardId},
    startDate=${searchCondition.startDate},endDate=${searchCondition.endDate},category=${searchCondition.category},
    searchText=${searchCondition.searchText},pageSize=${searchCondition.pageSize},orderValue=${searchCondition.orderValue},
    orderDirection=${searchCondition.orderDirection})}" method="post" onsubmit="return validator()">

    <div class="mb-3">
        <label for="categoryId" class="form-label">분류*</label>
        <select name="categoryId" id="categoryId" class="form-select">
        <option th:each="category : ${categoryList}"
                th:value="${category.categoryId}"
                th:text="${category.categoryName}"
                th:selected="${category.categoryId == board.categoryId}">
        </option>
    </select>
    </div>


    <div class="mb-3">
        <label for="title" class="form-label">제목*</label>
        <input placeholder="제목을 입력하세요." type="text" th:value="${board.title}" name="title" id="title" class="form-control">
    </div>

    <div class="mb-3">
        <label>내용*</label>
        <textarea placeholder="내용을 입력하세요." th:text="${board.content}" name="content" id="content" class="form-control" style="height: 300px"></textarea>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" th:checked="${board.isFixed == '1'}" name="isFixed" class="form-check-input" id="isFixed">
        <label class="form-check-label" for="isFixed">상단 고정</label>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">수정</button>
        <button type="button" th:onclick="goToList([[${searchCondition}]])" class="btn btn-secondary">목록</button>
        <button type="button" class="btn btn-secondary btn-danger" th:onclick="deleteBoard([[${board.boardId}]],[[${searchCondition}]])">삭제</button>
    </div>

</form>
</body>
<script th:inline="javascript">
    const modifySuccess = [[${modify}]];

    if (modifySuccess === 1) {
        alert("수정 되었습니다.");
    }
    const validateText = () => {
        const title = $("#title").val();
        const content = $("#content").val();
        if (title.length < 1){
            alert("제목을 입력하세요");
            return false;
        }
        if ( title.length > 99) {
            alert("제목이 100자 미만이여야 합니다");
            return false;
        }
        if (content.length < 1){
            alert("내용을 입력하세요");
            return false;
        }
        if (content.length > 3999) {
            alert("내용이 4000자 미만이여야 합니다.");
            return false;
        }
    }

    const validator = () => {
        return validateText();
        return confirm('수정 하시겠습니까?');
    }

    const parseObjectToParam = (searchCondition) => {
        return `?startDate=${searchCondition.startDate}&endDate=${searchCondition.endDate}&category=${searchCondition.category}` +
            `&searchText=${searchCondition.searchText}&pageSize=${searchCondition.pageSize}&orderValue=${searchCondition.orderValue}` +
            `&orderDirection=${searchCondition.orderDirection}&pageNum=${searchCondition.pageNum}`;
    }

    const goToList = (searchCondition) => {
        location.href = `/board/notice` + parseObjectToParam(searchCondition);
    }

    const deleteBoard = (boardId, searchCondition) => {
        if (confirm('정말로 삭제 하시겠습니까?')) {
            location.href = `/board/notice/delete/${boardId}` + parseObjectToParam(searchCondition);
        }
    }

</script>
</html>