<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>공지사항 관리</h1>
<h3 th:if="${errorMessage}" th:text="${errorMessage}"></h3>
<header th:replace="~{components/header :: header(${admin.adminName})}"></header>
<hr/>
<nav th:replace="~{components/nav :: nav}"></nav>
<hr/>
<form action="/admin/board/notice/write" method="post" onsubmit="return validator()">
    <label>분류*</label>
    <select name="categoryId">
        <option th:each="category : ${categoryList}"
                th:value="${category.categoryId}"
                th:text="${category.categoryName}">
        </option>
    </select>
    <br/>
    <label>제목*</label>
    <input type="text" name="title" id="title" required>
    <br/>
    <label>내용*</label>
    <textarea name="content" id="content" required></textarea>
    <br/>
    <label>상단 고정</label>
    <input type="checkbox" name="fixed">
    <br/>
    <button type="submit">등록</button>
    <button type="button" th:onclick="goToList([[${searchCondition}]])">목록</button>
</form>
</body>
<script>
    const validator = () => {
        const title = $("#title").val();
        const content = $("#content").val();
        if (title.length > 99) {
            alert("제목이 100자 미만이여야 합니다");
            return false;
        } else if (title.length < 1) {
            alert("입력칸이 비어있습니다.");
            return false;
        } else if (content.length > 3999) {
            alert("내용이 4000자 미만이여야 합니다.");
            return false;
        } else if (content.length < 1) {
            alert("입력칸이 비어있습니다.");
            return false;
        }
        return confirm('정말로 등록 하시겠습니까?');
    }


    const parseObjectToParam = (searchCondition) => {
        return `?startDate=${searchCondition.startDate}&endDate=${searchCondition.endDate}&categoryId=${searchCondition.categoryId}` +
            `&searchText=${searchCondition.searchText}&pageSize=${searchCondition.pageSize}&orderValue=${searchCondition.orderValue}` +
            `&orderDirection=${searchCondition.orderDirection}&pageNum=${searchCondition.pageNum}`;
    }

    const goToList = (searchCondition) => {
        location.href = `/admin/board/notice` + parseObjectToParam(searchCondition);
    }
</script>
</html>