<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.backend.mapper.FileMapper">

    <insert id="insertFile" parameterType="com.admin.backend.dto.FileDto">
        INSERT INTO
            tb_file (board_type, board_id, original_name, physical_name, file_path, extension, size)
        VALUES
            (#{boardType},#{boardId},#{originalName},#{physicalName},#{filePath},#{extension},#{size})
    </insert>
</mapper>