<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="nav(adminName)">
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand">김승현 포트폴리오</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/board/notice">공지사항 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board/free">자유 게시판 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board/gallery">갤러리 게시판 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board/inquiry">문의 게시판 관리</a>
                </li>
            </ul>
        </div>
        <span class="me-2" th:text="${adminName} + '님 안녕하세요!'"></span>
        <a class="ms-2" href="/logout">로그아웃</a>
    </div>
</nav>
</body>
</html>

