<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.backend.mapper.AdminMapper">

    <select id="selectAdminDtoByIdAndPassword" parameterType="map" resultType="com.user.backend.dto.AdminDto">
        SELECT
            *
        FROM
            tb_admin
        WHERE
            admin_id = #{adminId} AND password = SHA2(#{password},256)
    </select>
</mapper>