<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.backend.mapper.AnswerMapper">

    <select id="selectByBoardId" parameterType="long" resultType="com.user.backend.dto.AnswerDto">
        SELECT
            a.*,
            ad.admin_name as authorName
        FROM
            tb_answer a
        LEFT JOIN
            tb_admin ad ON a.author_id = ad.admin_id
        WHERE
            a.board_id = #{boardId}
    </select>

    <insert id="insertAnswer" parameterType="com.user.backend.dto.AnswerDto">
        INSERT INTO
            tb_answer (board_id, author_id, content)
        VALUES
            (#{boardId}, #{authorId}, #{content})
    </insert>

    <delete id="deleteByBoardId" parameterType="long">
        DELETE FROM
            tb_answer
        WHERE
            board_id = #{boardId}
    </delete>

    <update id="updateAnswer" parameterType="com.user.backend.dto.AnswerDto">
        UPDATE
            tb_answer
        SET
            author_id = #{authorId},
            content = #{content}
        WHERE
            board_id = #{boardId}
    </update>

</mapper>