<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.backend.mapper.InquiryBoardMapper">
    <sql id="boardSelectWhereQuery">
        WHERE
            ib.created_at BETWEEN #{searchCondition.startDateTimestamp} AND #{searchCondition.endDateTimestamp}
        <if test="searchCondition.searchText != null and searchCondition.searchText != ''">
            AND (ib.title LIKE CONCAT('%',#{searchCondition.searchText},'%')
            OR ib.content LIKE CONCAT('%',#{searchCondition.searchText},'%')
            OR m.member_name LIKE CONCAT('%',#{searchCondition.searchText},'%'))
        </if>
        <if test="memberId != null">
            AND ib.author_id = #{memberId}
        </if>
    </sql>

    <select id="selectBoardListByCondition" parameterType="map" resultType="com.user.backend.dto.InquiryBoardDto">
        SELECT
            ib.*,
            m.member_name as authorName,
            a.answer_id
        FROM
            tb_inquiry_board ib
        LEFT JOIN
            tb_member m ON ib.author_id = m.member_id
        LEFT JOIN
            tb_answer a ON ib.board_id = a.board_id
        <include refid="boardSelectWhereQuery"></include>
        ORDER BY
        <choose>
            <when test="searchCondition.orderValue == 'createdAt'">
                ib.created_at
            </when>
            <when test="searchCondition.orderValue == 'title'">
                ib.title
            </when>
            <when test="searchCondition.orderValue == 'views'">
                ib.views
            </when>
        </choose>
        <choose>
            <when test="searchCondition.orderDirection == 'desc'">
                DESC
            </when>
            <when test="searchCondition.orderDirection == 'asc'">
                ASC
            </when>
        </choose>
        LIMIT #{searchCondition.pageSize} OFFSET #{searchCondition.offset}
    </select>

    <select id="selectTotalRowCountByCondition" parameterType="map" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            tb_inquiry_board ib
        LEFT JOIN
            tb_member m ON ib.author_id = m.member_id
        <include refid="boardSelectWhereQuery"></include>
    </select>

    <select id="selectBoardById" parameterType="long" resultType="com.user.backend.dto.InquiryBoardDto">
        SELECT
            ib.*,
            m.member_name as authorName,
            a.answer_id
        FROM
            tb_inquiry_board ib
        LEFT JOIN
            tb_member m ON ib.author_id = m.member_id
        LEFT JOIN
            tb_answer a ON ib.board_id = a.board_id
        WHERE
            ib.board_id = #{boardId}
    </select>

    <select id="selectBoardListForMain" resultType="com.user.backend.dto.InquiryBoardDto">
        SELECT
            ib.board_id,
            ib.title,
            ib.created_at,
            ib.is_secret,
            a.answer_id
        FROM
            tb_inquiry_board ib
                LEFT JOIN
            tb_answer a on ib.board_id = a.board_id
        ORDER BY
            ib.created_at DESC
            LIMIT 6;
    </select>

    <select id="selectBoardByIdAndMemberId" parameterType="map" resultType="com.user.backend.dto.InquiryBoardDto">
        SELECT
            *
        FROM
            tb_inquiry_board
        WHERE
            board_id = #{boardId} AND author_id = #{memberId}
    </select>

    <delete id="deleteBoardById" parameterType="long">
        DELETE FROM
            tb_inquiry_board
        WHERE
            board_id = #{boardId}
    </delete>

    <insert id="insertBoard" parameterType="com.user.backend.dto.InquiryBoardDto">
        INSERT INTO
            tb_inquiry_board (author_id, title, content, is_secret)
        VALUES
        <choose>
            <when test="isSecret == 'true'">
                (#{authorId},#{title},#{content},1)
            </when>
            <otherwise>
                (#{authorId},#{title},#{content},0)
            </otherwise>
        </choose>

    </insert>

    <update id="updateViewById" parameterType="long">
        UPDATE
            tb_inquiry_board
        SET
            views = views + 1
        WHERE
            board_id = #{boardId}
    </update>

    <update id="updateBoard" parameterType="com.user.backend.dto.InquiryBoardDto">
        UPDATE
            tb_inquiry_board
        SET
            title = #{title},
            content = #{content},
        <choose>
            <when test="isSecret == 'true'">
                is_secret = 1
            </when>
            <otherwise>
                is_secret = 0
            </otherwise>
        </choose>
        WHERE
            board_id = #{boardId}
    </update>

</mapper>